{% extends "home/base.html" %}
{% load static %}

{% block body %}

<div class="main_content_iner ">
<div class="container-fluid plr_30 body_white_bg pt_30">
<div class="row justify-content-center">
<div class="col-12">
<div class="QA_section">
<div class="white_box_tittle list_header">
<h4>Customers</h4>
{#<div class="box_right d-flex lms_block">#}
<div class="col-lg-7 col-sm-12 col-md-6 box_right">
<form method="POST">
{% csrf_token %}
<div class="input-group mb-lg-auto">
  <input type="text" class="form-control" placeholder="search by name, username, email, customerID, telephone, account number ..." name="search">
  <div class="input-group-append ">
    <button class="btn btn-success" type="submit">Search</button>
  </div>
</div>
</form>
</div>
</div>

<div class="QA_table ">

<table class="table lms_table_active">
<thead>
<tr>
<th scope="col">S/N</th>
<th scope="col">FULL NAME</th>
<th scope="col">USERNAME</th>
<th scope="col">TELEPHONE</th>
<th scope="col">ACTIVE</th>
<th scope="col"></th>
</tr>
</thead>
<tbody>

{% for customer in customers %}
<tr>
<th scope="row">{{ customer.nos }}</th>
<td>{{ customer.first_name }} {{ customer.last_name }}</td>
<td>{{ customer.username }}</td>
<td>{{ customer.phone_no }}</td>
    {% if customer.status is True %}
<td style="color: green">Yes</td>
    {% else %}
<td style="color: red">No</td>
{% endif %}
<td><a style="color: white" class="btn btn-success" href="{% url 'home:customer-detail' customer.id %}" >View</a></td>
</tr>
{% endfor %}

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

