{% extends "home/base.html" %}
{% load static %}

{% block body %}

<div class="main_content_iner ">
<div class="container-fluid plr_30 body_white_bg pt_30">
<div class="row justify-content-center">
<div class="col-12">
<div class="QA_section">
<div class="white_box_tittle list_header">
<h4>Data Purchase</h4>
<div class="col-lg-7 col-sm-12 col-md-6 box_right">
<form method="POST">
{% csrf_token %}
<div class="input-group mb-lg-auto">
  <input type="text" class="form-control" placeholder="" name="search">
  <div class="input-group-append ">
    <button class="btn btn-success" type="submit">Search</button>
  </div>
</div>
</form>
</div>
</div>
<div class="col-lg-12">
<div class="white_box mb_30 table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th scope="col">#</th>
<th scope="col">DATE</th>
<th scope="col">ACCOUNT NO</th>
<th scope="col">BENEFICIARY NUMBER</th>
<th scope="col">NETWORK</th>
<th scope="col">AMOUNT</th>
<th scope="col">PLAN ID</th>
<th scope="col">TRANSACTION ID</th>
<th scope="col">STATUS</th>
</tr>
</thead>
<tbody>
{% if not data %}
    <td colspan="12" style="text-align: center;"><div class="alert alert-danger">NO DATA TO LOAD</div></td>
{% endif %}
{% for item in data %}
<tr>
<th scope="row">{{ item.nos }}</th>
{#<td>{{ transfer.created_on | date:"d/m/Y" }}</td>#}
<td width="15%">{{ item.created_on }}</td>
<td>{{ item.acct_no }}</td>
<td>{{ item.beneficiary }}</td>
<td>{{ item.network }}</td>
<td>&#x20A6;{{ item.amount }}</td>
<td>{{ item.plan }}</td>
<td>{{ item.transaction_id }}</td>
<td>{{ item.status }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}

